{% extends "base.html" %}
{% block content %}
	<div class="login_holder">
		<form action="/process/" method="POST">{% csrf_token %}
			<div class="username">
				<label>Username:</label>
				<input type="text" name="username" placeholder="Username" value=""><br/>
			</div>
			<div class="password"> 
				<label>Password:</label>
				<input type="password" name="password" placeholder="Pass/word" value=""><br/>
			</div>
			<div class="action">
				<input type="submit" name="submit" value="Signin">
				<a href="/register/">Register</a><br/>
			</div>
		</form>
	</div>
{% endblock %}
