<html>
	<head></head>
<body>
	<div class="container">

						

								<ul style="float:left; list-style-type:none;">
									<li style="float:left;">Product_name</li>
									<li style="float:left;">price</li>
									<li style="float:left;">model</li>
									<li style="float:left;">Product_description</li>
								</ul>
								</br>
											
							
				
								 				
								 	
											 		<ul style="float:left; list-style-type:none;">
															<li style="float:left;">
																{{productid.product_name}}
															</li>
															<li style="float:left;">
																{{productid.price}}
															</li>
															<li style="float:left;">
																{{productid.product_model}}
															</li>
															<li style="float:left;">
																{{productid.product_description}}
															</li>
															

													</ul>	</br>
									
							<a href=" /logout">Logout</a>
								
	</div><!--container-->

</body>
</html>