<html>
	<head></head>
<body>
	<div class="container" style="width:500px;height:auto;border:1px solid;">

						

								<ul style="float:left; list-style-type:none;">
									<li style="float:left;margin-left:10px;">name</li>
									<li style="float:left;margin-left:35px;">price</li>
									<li style="float:left;margin-left:50px;">model</li>
									<li style="float:left;margin-left:70px;">description</li>
								</ul>
								</br>
											
							
				
								 				
								 	
											 		<ul style="float:left; list-style-type:none;">
															<li style="float:left;margin-left:10px;">
																{{productid.product_name}}
															</li>
															<li style="float:left;margin-left:35px;">
																{{productid.price}}
															</li>
															<li style="float:left;margin-left:50px;">
																{{productid.product_model}}
															</li>
															<li style="float:left;margin-left:70px;">
																{{productid.product_description}}
															</li>
															

													</ul>	</br>
									
							<a href=" /logout">Logout</a>
								
	</div><!--container-->

</body>
</html>